h1 {
    color: white;
    text-align: center;
}


img {
    height: 250px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #122466!important;
}

.nav-link {
    color: white!important;
}

a.navbar-brand {
    color: white!important;
    font-weight: 500;
}

footer {
    background-color: #122466!important;
}

h5 {
    color: white!important;
}

p.grey-text.text-lighten-4{
    color: white;
}

.cor-branco {
    color: white;
}

a.grey-text.text-lighten-4.right{
    color: white;
    font-weight: 500;
}

img.d-block.w-100 {
    height: 450px;
}

.font-p {
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
}

footer {
    margin-top: 20px;
}